
@media print {
  @page {
    size: A4;
    margin: 1.5cm;
  }
  
  body {
    font-size: 12pt;
    line-height: 1.3;
    background: #fff;
    color: #000;
  }
  
  .print:hidden {
    display: none !important;
  }
  
  a {
    text-decoration: none !important;
    color: #000 !important;
  }
  
  table, th, td {
    border-color: #000 !important;
  }
  
  .page-break-inside-avoid {
    page-break-inside: avoid;
  }
  
  .page-break-after {
    page-break-after: always;
  }
}
